#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

hr {
    border: solid;
    border-style: dotted;
    color: rgb(142, 92, 189);
    size: 5px;
}